{% extends "layouts/base.html" %}
{% load static %}

{% block content %}


     <div class="d-flex gap-3 align-items-center"
          style="margin-bottom: 20px;">
      <h3>TAG:  BLABLABLA</h3>
    </div>
     <div class="row">
      <div class="col-6">


       <div class="container"
            style="border: 2px solid black; margin-bottom: 15px;">
           <div class="row">
             <div class="col-3 p-2">
               <div class="border w-100 mb-3" style="height: 150px">
                 <img src="img.jpg" class="img-fluid rounded-start" alt="...">
               </div>
               <input type="number" value="5" class="form-control" style="width: 50px;"/>
             </div>
             <div class="col-8 p-2">
               <div class="container">
                <div style="text-align: center; width: 350px;">
                 <h3>How to build a moon park?</h3>
                 <p>
                   This is a wider card with supporting text below as a natural
                   lead-in to additional content. This content is a little bit
                   longer.
                 </p>
                 <div class="row"
                      style="margin-top: 5px;">
                      <a class="col-4" href="/question.html">answers (3)</a>
                  <div class="col-8">
                   <span><u>Tags</u></span>
                   <a href="{% url "tag" %}"><u>tag</u></a>
                   <a href="/tag.html"><u>tag</u></a>
                   <a href="/tag.html"><u>tag</u></a>
                   <a href="/tag.html"><u>tag</u></a>
                   <a href="/tag.html"><u>tag</u></a>
                   <a href="/tag.html"><u>tag</u></a>
                 </div>
                </div>
               </div>
                 </div>
               </div>
             </div>
           </div>

           <div class="container"
            style="border: 2px solid black; margin-bottom: 15px;">
           <div class="row">
             <div class="col-3 p-2">
               <div class="border w-100 mb-3" style="height: 150px">
                 <img src="img.jpg" class="img-fluid rounded-start" alt="...">
               </div>
               <input type="number" value="5" class="form-control" style="width: 50px;"/>
             </div>
             <div class="col-8 p-2">
               <div class="container">
                <div style="text-align: center; width: 350px;">
                 <h3>How to build a moon park?</h3>
                 <p>
                   This is a wider card with supporting text below as a natural
                   lead-in to additional content. This content is a little bit
                   longer.
                 </p>
                 <div class="row"
                      style="margin-top: 5px;">
                  <div class="col-8">
                   <a class="col-4" href="/question.html">answers (3)</a>
                  <span><u>Tags</u></span>
                   <a href="/tag.html"><u>tag</u></a>
                   <a href="/tag.html"><u>tag</u></a>
                   <a href="/tag.html"><u>tag</u></a>
                   <a href="/tag.html"><u>tag</u></a>
                   <a href="/tag.html"><u>tag</u></a>
                   <a href="/tag.html"><u>tag</u></a>
                 </div>
                </div>
               </div>
                 </div>
               </div>
             </div>
           </div>


           <div class="container"
            style="border: 2px solid black; margin-bottom: 15px;">
           <div class="row">
             <div class="col-3 p-2">
               <div class="border w-100 mb-3" style="height: 150px">
                 <img src="img.jpg" class="img-fluid rounded-start" alt="...">
               </div>
               <input type="number" value="5" class="form-control" style="width: 50px;"/>
             </div>
             <div class="col-8 p-2">
               <div class="container">
                <div style="text-align: center; width: 350px;">
                 <h3>How to build a moon park?</h3>
                 <p>
                   This is a wider card with supporting text below as a natural
                   lead-in to additional content. This content is a little bit
                   longer.
                 </p>
                 <div class="row"
                      style="margin-top: 5px;">
                      <a class="col-4" href="/question.html">answers (3)</a>
                 <div class="col-8">
                   <span><u>Tags</u></span>
                   <a href="/tag.html"><u>tag</u></a>
                   <a href="/tag.html"><u>tag</u></a>
                   <a href="/tag.html"><u>tag</u></a>
                   <a href="/tag.html"><u>tag</u></a>
                   <a href="/tag.html"><u>tag</u></a>
                   <a href="/tag.html"><u>tag</u></a>
                 </div>
                </div>
               </div>
                 </div>
               </div>
             </div>
           </div>

           
           
            
          {% include "layouts/pagination.html" with page_obj=questions %}

          </div>
          {% endblock %}
