{% extends "layouts/base_login.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="en">



        {% block content %}
          <div class="d-flex gap-3 align-items-center">
            <h1>Hot Questions 🔥</h1>
            <a href="/">New Questions</a>
          </div>
            <div class="col-md-8 col-sm-12">
              <div class="column">
                  {% for question in questions %}
                    
                    {% include "layouts/question_for_index.html" with item=question %}
  
                  {% endfor %}
  
                  {% include "layouts/pagination.html" with page_obj=questions %}
                  
                </div>
              </div>
            {% endblock %}