{% extends "layouts/base.html" %}
{% load static %}

{% block content %}

    <main class="container-fluid container-lg mt-3">
     <div class="d-flex gap-3 align-items-center"
           style="margin-bottom:20px;">
      <h2 class="px-6 py-6">Settings: Dr Pepper</h2>
    </div>
     <div class="row">
      <div class="col-8">
       <div class="container"> 
        <div class="row mb-4"> 
          <div class="col-3"> 
            <label for="input1" class="form-label">Login</label> 
          </div> 
          <div class="col-6"> 
            <input type="text" id="input1" class="form-control" style="border: 3px solid black;" maxlength="100"> 
          </div> 
        </div> 
        <div class="row mb-4"> 
          <div class="col-3"> 
            <label for="input2" class="form-label">Email</label> 
          </div> 
          <div class="col-6"> 
            <input 
              type="text" 
              id="input2" 
              class="form-control" 
              style="border: 3px solid black;" maxlength="500"> 
          </div> 
        </div> 
        <div class="row mb-4"> 
          <div class="col-3"> 
            <label for="input3" class="form-label">NichName</label> 
          </div> 
          <div class="col-6"> 
            <input 
              type="text" 
              id="input3" 
              class="form-control" 
              style="border: 3px solid black;" 
              maxlength="125">
          </div> 
        </div> 
        <div class="row mb-3"> 
         <div class="col-3">
            <label for="input3" class="form-label">Upload Avatar</label>
         </div>
         <div class="col-3"> 
          <div class="border w-70 mb-3" style="width: 100px; height: 110px; position: relative;">
             <img
                src="img.jpg"
                class="img-fluid rounded-start"
                alt="..."
             />
             <input type="file" id="fileInput" name="avatar" accept="image/*" style="margin-top: 95px;">
          </div>
       </div>
      </div>
      </div>
      <div>
       <button style="margin-left: 200px; margin-top: 45px; border: 3px solid black;">SAVE</button>
      </div>
      </div>
     
      {% endblock %}