{% extends "layouts/base_login.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="en">


      {% for tag in tags %}
        {% include "layouts/question_for_index.html" with item=question %}
      {% endfor %}
        {% block content %}
          <div class="d-flex gap-3 align-items-center">
            <h1>Tag:</h1>
            <a href="/tag/{{ tag_name }}">{{ tag_name }}</a>
          </div>
            <div class="col-md-8 col-sm-12">
              <div class="column">
                {% for question in questions %}
                  
                  {% include "layouts/question_for_index.html" with item=question %}

                {% endfor %}

                {% include "layouts/pagination.html" with page_obj=questions %}
                
              </div>
            </div>
          {% endblock %}
